* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul li a:hover {
    color: crimson !important;
}

li {
    list-style-type: none;
}

ol,
ul,
dl {
    margin-bottom: 0!important;
}

#navbar-bg {
    position: fixed;
    background: transparent;
}

.navbar-bg {
    min-width: 100%;
    position: relative;
    z-index: 99999;
    display: flex;
    background: #A27F6D;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s ease;
}

.logo img {
    margin-top: -10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 25px;
    padding: 0 !important;
}

.navbar li a,
.right-nav {
    list-style: none;
    /* display: block; */
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
}

.navbar a {
    font-family: 'Cookie', cursive;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.navbar-bg .right-nav {
    width: 120px;
}

.navbar-bg .right-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar-bg .right-nav i {
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    background: #00000033;
    border-radius: 50%;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-bg {
    background: #A27F6D !important;
}

@media (max-width: 1024px) {
    .navbar {
        width: 50%;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navbar-bg {
        position: relative;
        background: #A27F6D;
    }
    .navbar {
        position: absolute;
        left: 0;
        height: 60vh;
        top: 10.5vh;
        background-color: rgba(216, 144, 84, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }
    .navbar li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}